<!-- TBD: Fill template title -->
<h1>Template title goes here</h1>
<table class="template-items" cdkDropList (cdkDropListDropped)="drop($event)">
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Comment</th>
  </tr>
  <ng-container *ngFor="let item of items">
    <tr *ngIf="!isItemUnderEdit(item)" class="template-item" cdkDrag>
      <td class="template-item-property template-item-title">{{item.title}}</td>
      <td class="template-item-property template-item-quantity">{{item.quantity}}</td>
      <td class="template-item-property template-item-comment">{{item.comment}}</td>
      <td><button class="template-item-edit-button" type="button" (click)="onEditItem(item)">Edit</button></td>
      <td><button class="template-item-edit-button" type="button" (click)="onDeleteItem(item)">Delete</button></td>
    </tr>
    <tr *ngIf="isItemUnderEdit(item)" class="template-item" [formGroup]="editItemFormGroup" cdkDrag>
      <td class="template-item-property-edit template-item-title">
        <input class="template-item-edit" type="text" required (keydown)="onEditKeyDown($event)" formControlName="title">
      </td>
      <td class="template-item-property-edit template-item-quantity">
        <input class="template-item-edit" type="text" (keydown)="onEditKeyDown($event)" formControlName="quantity">
      </td>
      <td class="template-item-property-edit template-item-comment">
        <input class="template-item-edit" type="text" (keydown)="onEditKeyDown($event)" formControlName="comment">
      </td>
      <td><button class="template-item-edit-button" type="button" [disabled]="!editItemFormGroup.valid" (click)="onSaveItemChanges()">Save</button></td>
      <td><button class="template-item-edit-button" type="button" (click)="onCancelItemEdit()">Cancel</button></td>
    </tr>
  </ng-container>
  <tr class="template-item" [formGroup]="addItemFormGroup">
    <td class="template-item-property-add template-item-title">
      <input class="template-item-add" type="text" required (keydown)="onAddKeyDown($event)" formControlName="title">
    </td>
    <td class="template-item-property-add template-item-quantity">
      <input class="template-item-add" type="text" (keydown)="onAddKeyDown($event)" formControlName="quantity">
    </td>
    <td class="template-item-property-add template-item-comment">
      <input class="template-item-add" type="text" (keydown)="onAddKeyDown($event)" formControlName="comment">
    </td>
    <td><button class="template-item-edit-button" type="button" [disabled]="!addItemFormGroup.valid" (click)="onAddItem()">Add</button></td>
    <td><button class="template-item-edit-button" type="button" (click)="onCancelItemAdd()">Cancel</button></td>
  </tr>
</table>
