.template-items {
    border-collapse: collapse;
}

.template-item-property {
    padding: 0;
}

.template-item-title {
    width: 300px;
}

.template-item-quantity {
    width: 100px;
}

.template-item-comment {
    width: 300px;
}

.template-item-property, .template-item-property-edit {
    border: 1px solid black;
}

.template-item-property-edit, .template-item-edit {
    background-color: lightblue;
}

.template-item-property-edit {
    box-sizing: border-box;
}

.template-item-edit-button {
    width: 60px;
}

.template-item-edit {
    width: 100%;
    padding: 0;
    border: 0;

    font: inherit;
}

.cdk-drag-placeholder {
    opacity: 0;
  }

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
