<!-- TBD: Fill template title -->
<h1>Template title goes here</h1>
<table cdkDropList class="template-items" (cdkDropListDropped)="drop($event)">
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Comment</th>
  </tr>
  <ng-container *ngFor="let item of items">
    <tr *ngIf="!isItemUnderEdit(item)" cdkDrag class="template-item">
      <td class="template-item-property template-item-title" (click)="onEditItem(item, 'title')">{{item.title}}</td>
      <td class="template-item-property template-item-quantity" (click)="onEditItem(item, 'quantity')">{{item.quantity}}</td>
      <td class="template-item-property template-item-comment" (click)="onEditItem(item, 'comment')">{{item.comment}}</td>
      <td>
        <button type="button" class="template-item-drag">
          <i cdkDragHandle class="material-icons">drag_indicator</i>
        </button>
      </td>
      <td>
        <button class="template-item-edit-button" type="button" (click)="onDeleteItem(item)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
    <tr *ngIf="isItemUnderEdit(item)" cdkDrag class="template-item" [formGroup]="editItemFormGroup">
      <td class="template-item-property-edit template-item-title">
        <input class="template-item-edit" type="text" required #editedItemTitle (keydown)="onEditKeyDown($event)" formControlName="title">
      </td>
      <td class="template-item-property-edit template-item-quantity">
        <input class="template-item-edit" type="text" #editedItemQuantity (keydown)="onEditKeyDown($event)" formControlName="quantity">
      </td>
      <td class="template-item-property-edit template-item-comment">
        <input class="template-item-edit" type="text" #editedItemComment (keydown)="onEditKeyDown($event)" formControlName="comment">
      </td>
      <td>
        <button class="template-item-edit-button" type="button" [disabled]="editItemFormGroup.pristine || !editItemFormGroup.valid" (click)="onSaveItemChanges()">
          <i class="material-icons">save</i>
        </button>
      </td>
      <td>
        <button class="template-item-edit-button" type="button" (click)="onCancelItemEdit()">
          <i class="material-icons">cancel</i>
        </button>
      </td>
    </tr>
  </ng-container>
  <tr class="template-item" [formGroup]="addItemFormGroup">
    <td class="template-item-property-add template-item-title">
      <input class="template-item-add" type="text" required #newItemTitle (keydown)="onAddKeyDown($event)" formControlName="title">
    </td>
    <td class="template-item-property-add template-item-quantity">
      <input class="template-item-add" type="text" #newItemQuantity (keydown)="onAddKeyDown($event)" formControlName="quantity">
    </td>
    <td class="template-item-property-add template-item-comment">
      <input class="template-item-add" type="text" #newItemComment (keydown)="onAddKeyDown($event)" formControlName="comment">
    </td>
    <td>
      <button class="template-item-edit-button" type="button" [disabled]="!addItemFormGroup.valid" (click)="onAddItem()">
        <i class="material-icons">add</i>
      </button>
    </td>
    <td>
      <button class="template-item-edit-button" type="button" (click)="onCancelItemAdd()">
        <i class="material-icons">clear</i>
      </button>
    </td>
  </tr>
</table>
