<h1>Template title goes here</h1>
<table class="template-items" cdkDropList (cdkDropListDropped)="drop($event)">
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Comment</th>
  </tr>
  <ng-container *ngFor="let item of items">
    <tr *ngIf="!isItemUnderEdit(item)" cdkDrag>
      <td class="template-item-property template-item-title">{{item.title}}</td>
      <td class="template-item-property template-item-quantity">{{item.quantity}}</td>
      <td class="template-item-property template-item-comment">{{item.comment}}</td>
      <td><button class="template-item-edit-button" type="button" (click)="onEditItem(item)">Edit</button></td>
      <td><button class="template-item-edit-button" type="button" (click)="onDeleteItem(item)">Delete</button></td>
      <td><button class="template-item-edit-button" type="button" (click)="onInsertItem(item)">Insert</button></td>
    </tr>
    <tr *ngIf="isItemUnderEdit(item)" [formGroup]="editItemFormGroup" cdkDrag>
      <td id="templateitemtitle" class="template-item-property-edit template-item-title">
        <input class="template-item-edit" type="text" required (keydown)="onEditKeyDown($event)" formControlName="title">
      </td>
      <td class="template-item-property-edit template-item-quantity">
        <input class="template-item-edit" type="text" (keydown)="onEditKeyDown($event)" formControlName="quantity">
      </td>
      <td class="template-item-property-edit template-item-comment">
        <input class="template-item-edit" type="text" (keydown)="onEditKeyDown($event)" formControlName="comment">
      </td>
      <td><button class="template-item-edit-button" type="button" [disabled]="!editItemFormGroup.valid" (click)="onSaveItemChanges()">Save</button></td>
      <td><button class="template-item-edit-button" type="button" (click)="onCancelItemChanges()">Cancel</button></td>
    </tr>
  </ng-container>
</table>

<form class="new-template-item-form" (ngSubmit)="onAddItem()" #newTemplateItemForm="ngForm">
  <input id="new-template-item-title" type="text" name="title" required [(ngModel)]="newItemTitle">
  <button type="submit" [disabled]="!newTemplateItemForm.form.valid">Add</button>
</form>
