<div class="container-fluid">
    <table *ngIf="!loadingItems" class="table table-bordered table-sm" cdkDropList (cdkDropListDropped)="drop($event)">
        <thead>
            <tr class="d-flex">
                <th class="col-5" scope="col">Title</th>
                <th class="col-2" scope="col">Quantity</th>
                <th class="col-5" scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items">
                <tr *ngIf="item.id === updatingItemId">
                    <td>
                        <loading-indicator [small]="true">Updating ...</loading-indicator>
                    </td>
                </tr>
                <tr *ngIf="item.id !== updatingItemId && !isItemUnderEdit(item)" class="d-flex list-item" cdkDrag>
                    <td class="col-5 pl-0" (click)="onEditItem(item, 'title')">
                        <div>
                            <button class="item-drag mdc-icon-button material-icons align-middle">drag_indicator</button>
                            <span>{{item.title}}</span>
                        </div>
                    </td>
                    <td class="col-2" (click)="onEditItem(item, 'quantity')">{{item.quantity}}</td>
                    <td class="col-5" (click)="onEditItem(item, 'comment')">
                        <div class="d-flex">
                            <span class="flex-grow-1">{{item.comment}}</span>
                            <button class="item-action-button mdc-icon-button material-icons" (click)="onDeleteItem(item)">delete_forever</button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="item.id !== updatingItemId && isItemUnderEdit(item)" class="d-flex list-item" cdkDrag [formGroup]="editItemFormGroup">
                    <td class="col-5 edited-property title">
                        <input class="existing-item-edit form-control" type="text" required #editedItemTitle (keydown)="onEditKeyDown($event)" formControlName="title">
                    </td>
                    <td class="col-2 edited-property quantity">
                        <input class="existing-item-edit form-control" type="text" #editedItemQuantity (keydown)="onEditKeyDown($event)" formControlName="quantity">
                    </td>
                    <td class="col-5 edited-property comment">
                        <div class="d-flex">
                            <input class="existing-item-edit form-control flex-grow-1" type="text" #editedItemComment (keydown)="onEditKeyDown($event)" formControlName="comment">
                            <button class="item-action-button mdc-icon-button material-icons" [disabled]="editItemFormGroup.pristine || !editItemFormGroup.valid" (click)="onSaveItemChanges()">save</button>
                            <button class="item-action-button mdc-icon-button material-icons" (click)="onCancelItemEdit()">cancel</button>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="!addingNewItem" class="d-flex" [formGroup]="addItemFormGroup">
                <td class="col-5 new-item-property title">
                    <input class="new-item-edit form-control" type="text" required (keydown)="onAddKeyDown($event)" formControlName="title">
                </td>
                <td class="col-2 new-item-property quantity">
                    <input class="new-item-edit form-control" type="text" (keydown)="onAddKeyDown($event)" formControlName="quantity">
                </td>
                <td class="col-5 new-item-property comment">
                    <div class="d-flex">
                        <input class="new-item-edit form-control flex-grow-1" type="text" (keydown)="onAddKeyDown($event)" formControlName="comment">
                        <button class="mdc-icon-button material-icons" [disabled]="!addItemFormGroup.valid" (click)="onAddItem()">add</button>
                        <button class="mdc-icon-button material-icons" (click)="onCancelItemAdd()">clear</button>
                    </div>
                </td>
            </tr>
            <tr *ngIf="addingNewItem">
                <td>
                    <loading-indicator [small]="true">Adding ...</loading-indicator>
                </td>
            </tr>
        </tbody>
    </table>
    <loading-indicator *ngIf="loadingItems">Loading ...</loading-indicator>
</div>
