<div class="container-fluid">
    <table *ngIf="!loadingItems" class="table table-bordered table-sm mb-0" cdkDropList (cdkDropListDropped)="dropItem($event)">
        <thead>
            <tr class="d-flex">
                <th class="col-5" scope="col">Title</th>
                <th class="col-2" scope="col">Quantity</th>
                <th class="col-5" scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items">
                <tr *ngIf="item.id === updatingItemId">
                    <td>
                        <loading-indicator [small]="true">Updating ...</loading-indicator>
                    </td>
                </tr>
                <tr *ngIf="item.id !== updatingItemId && !isItemUnderEdit(item)" class="d-flex list-item" cdkDrag>
                    <td class="col-5 pl-0" (click)="startItemEditing(item, 'title')">
                        <div>
                            <button class="item-drag mdc-icon-button material-icons align-middle" cdkDragHandle>drag_indicator</button>
                            <span>{{item.title}}</span>
                        </div>
                    </td>
                    <td class="col-2" (click)="startItemEditing(item, 'quantity')">{{item.quantity}}</td>
                    <td class="col-5" (click)="startItemEditing(item, 'comment')">
                        <div class="d-flex">
                            <span class="flex-grow-1">{{item.comment}}</span>
                            <button class="item-action-button mdc-icon-button material-icons" (click)="deleteItem(item)">delete_forever</button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="item.id !== updatingItemId && isItemUnderEdit(item)" class="d-flex list-item" [formGroup]="editItemFormGroup">
                    <td class="col-5 edited-property">
                        <input class="form-control" type="text" placeholder="Type title here ..." required #editedItemTitle (keydown)="onEditKeyDown($event)" formControlName="title">
                    </td>
                    <td class="col-2 edited-property">
                        <input class="form-control" type="text" placeholder="Type quantity here ..." #editedItemQuantity (keydown)="onEditKeyDown($event)" formControlName="quantity">
                    </td>
                    <td class="col-5 edited-property">
                        <div class="d-flex">
                            <input class="form-control flex-grow-1" type="text" placeholder="Type comment here ..." #editedItemComment (keydown)="onEditKeyDown($event)" formControlName="comment">
                            <button class="item-action-button mdc-icon-button material-icons" [disabled]="editItemFormGroup.pristine || !editItemFormGroup.valid" (click)="saveEditChanges()">save</button>
                            <button class="item-action-button mdc-icon-button material-icons" (click)="cancelItemEditing()">cancel</button>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="!addingNewItem" class="d-flex" [formGroup]="addItemFormGroup">
                <td class="col-5">
                    <input class="form-control" type="text" placeholder="Type title for new item ..." required (keydown)="onAddKeyDown($event)" formControlName="title">
                </td>
                <td class="col-2">
                    <input class="form-control" type="text" placeholder="Type quantity for new item ..." (keydown)="onAddKeyDown($event)" formControlName="quantity">
                </td>
                <td class="col-5">
                    <div class="d-flex">
                        <input class="form-control flex-grow-1" type="text" placeholder="Type comment for new item ..." (keydown)="onAddKeyDown($event)" formControlName="comment">
                        <button class="mdc-icon-button material-icons" [disabled]="!addItemFormGroup.valid" (click)="addItem()">add</button>
                        <button class="mdc-icon-button material-icons" (click)="cancelItemAdding()">clear</button>
                    </div>
                </td>
            </tr>
            <tr *ngIf="addingNewItem">
                <td>
                    <loading-indicator [small]="true">Adding ...</loading-indicator>
                </td>
            </tr>
        </tbody>
    </table>
    <loading-indicator *ngIf="loadingItems">Loading ...</loading-indicator>
</div>
